:root {
	--green: #116245;
	--yellow: #ffde59;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}

body {
	max-width: 550px;
	margin: 10vh auto;
	border-radius: 8px;
	background-color: lightyellow;
}

#root {
	box-shadow: 0 0 10px #2b283a;
	border-radius: 8px;
}

.header {
	background-color: var(--green);
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--yellow);
	padding: 16px;
	border-radius: 8px 8px 0 0;
}

.header--title {
	font-size: 0.9rem;
	margin-left: 7px;
}

.cards {
	display: flex;
	padding: 40px;
	color: #2b283a;
	background-color: #ffffff;
}

.cards--left {
	position: relative;
	margin-right: 19px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.site--img {
	width: 125px;
	max-height: 200px;
	border-radius: 5px;
	box-shadow: 0 0 10px #2b283a;
}

.plus--button {
	position: absolute;
	cursor: pointer;
}

.cards--position {
	display: flex;
	align-items: center;
}

.cards--position * {
	margin-right: 4px;
}

.cards--position p {
	text-transform: uppercase;
	letter-spacing: 4px;
	margin-right: 12px;
	font-size: 0.65rem;
}

.cards--position a {
	font-size: 0.65rem;
	color: #918e9b;
}

.cards--right h1 {
	font-size: 1.5rem;
	margin: 4px auto 20px auto;
	text-transform: capitalize;
}

.cards--date {
	font-size: 0.65rem;
	font-weight: bold;
	margin-bottom: 9px;
}

.cards--description {
	font-size: 0.65rem;
	line-height: 150%;
}

.footer {
	background-color: var(--green);
	text-align: right;
	color: var(--yellow);
	padding: 16px;
	border-radius: 0 0 8px 8px;
}

.footer--title {
	font-size: 0.9rem;
}

@media (max-width: 560px) {
	body {
		margin: auto;
	}

	.header,
	.footer {
		border-radius: 0;
	}

	.cards {
		padding: 20px;
	}

	.site--img {
		width: 100px;
		max-height: 150px;
	}
}
